<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://teststripepaymentcrm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6084e035-d9ee-46a6-8a93-a4f1f0fd20ea/resourceGroups/Dynamics365DEV/providers/Microsoft.Web/sites/teststripepaymentcrm</ResourceId>
    <UserName>$teststripepaymentcrm</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://teststripepaymentcrm.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>