<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://teststripepaymentintegration.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/13ad0d5d-dc4e-4b34-83f5-950873209505/resourceGroups/HayesBoltBDev/providers/Microsoft.Web/sites/TestStripePaymentIntegration</ResourceId>
    <UserName>$TestStripePaymentIntegration</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://teststripepaymentintegration.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>